<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ssokk20ex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_dangshin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_dangshin_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.info.InfoNorm6"
            android:theme="@style/noAnimTheme"></activity>
        <activity
            android:name=".ui.info.InfoNorm5"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.info.InfoNorm4"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.info.InfoNorm3"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.info.InfoNorm2"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".ui.info.InfoNorm1"
            tools:ignore="DuplicateActivity" />

        <activity android:name="ui.record.RecordImageDTO"
            android:theme="@style/noAnimTheme"/>
        <activity android:name=".UserInfo"
            android:theme="@style/noAnimTheme"/>
        <activity android:name="ui.record.RecordWeightDTO"
            android:theme="@style/noAnimTheme"/>
        <activity android:name=".ui.record.RecordBloodSugarDTO"
            android:theme="@style/noAnimTheme"/>
        <activity
            android:name=".ui.info.InfoNorm"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.info.InfoNews"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.statistics.StatisticsFunctions_monthly"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.statistics.StatisticsFunctionsWeight_monthly"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.statistics.StatisticsFunctionsWeight"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".ui.record.RecordFunctions"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".IntroActivity"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".IntroSlide"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".IntroAdapter"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".SignUpActivity"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".SignInActivity"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.alarm.AddMedicineNotice"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.alarm.AddBloodSugarNotice"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.alarm.MedicineNotice"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.alarm.AlarmFunctions"
            android:theme="@style/noAnimTheme" />
        <activity android:name=".info_test" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/noAnimTheme"></activity>
        <activity android:name=".FirstPage"
            android:theme="@style/noAnimTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyPage"
            android:theme="@style/noAnimTheme"/>
        <activity
            android:name=".ui.statistics.StatisticsFunctions"
            android:theme="@style/noAnimTheme" />
        <activity
            android:name=".ui.statistics.StatisticsFunctions_AllRecord"
            android:theme="@style/noAnimTheme"></activity>
    </application>

</manifest>